<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://app-global.pgyer.com/80753d2115ee4fa4d9098bc6970e28e1.ipa?attname=superhawkeye.ipa&sign=a18724d67ebaaa8d5f1fc47080eff86f&t=5ae1c45f</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://momentjs.com/static/img/bg.png</string>
               </dict>
      <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://momentjs.com/static/img/bg.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.dianwoba.frontend.superhawkeyeapp</string>
               <key>bundle-version</key>
               <string>3.0.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>hhh</string>
               <key>title</key>
               <string>xxapp</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>